body {
  font-family: Arial, Helvetica, sans-serif;
  background: #d6c3af;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to left, #8E0E00, #1F1C18); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  min-height: 430px;
  width: 80%;
  background: #f7f7f7;
  margin: 2vh auto;
  box-shadow: 0px 0px 0px 4px #976a08 inset;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#title {
  display: flex;
  height: 35px;
  justify-content: center;
  background: #976a08;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h1 {
  color: white;
  width: auto;
  margin: auto;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
}

#content {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(194 225 246); */
}

#form_layout {
  width: 30%;
  border-right: 2px solid #976a08;
  min-height: 400px;
}

#table_layout {
  width: 70%;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  position: sticky;
  top: 0;
}

label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 3px;
}

input {
  height: 30px;
  font-size: 17px;
  padding-left: 5px;
}

textarea {
  font-size: 17px;
  padding: 5px;
}

#dateTime {
  display: flex;
  justify-content: left baseline;
}

.pickerDiv {
  display: flex;
  flex-direction: column;
}

.custom-tooltip {
  display: none;
  position: absolute;
  max-width: 380px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

#submit {
  background: #6e3f09;
  border-radius: 5px;
  margin: auto;
  width: 148px;
  height: 30px;
  font-size: 17px;
  color: white;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-bottom: none;
}

th,
td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  border-spacing: 0;
}

tr {
  border-bottom: 1px solid #ddd;
}

th:nth-child(6) {
  border-right: none;
}

td:nth-child(6) {
  border-right: none;
}

th {
  font-size: 20px;
}

th button {
  background: transparent;
  border: none;
  display: inline;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

th button span {
  position: absolute;
  margin-left: 5px;
  top: 0;
  right: 10;
  width: 10px;
  height: 10px;
}

th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 60%;
  top: 0;
}

th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 60%;
  top: 0;
}

tr {
  border: 5px solid #ddd;
}

.error {
  display: none;
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
}

.removeButton {
  border-radius: 5px;
  background-color: #976a08;
  color: white;
  font-weight: bold;
  padding: 3px;
  font-size: 15px;
  width: 100px;
  cursor: pointer;
}
